body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.6rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #66BFBF;
  font-weight: normal
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}

.top-container {
  background-color: #E4F9F5;
  padding: 10px;
}

.middle-container {
  background-color: white;
  padding-top: 20px;
}

.bottom-container {
  background-color: #E4F9F5;
  color: #11999E;
}


.top-cloud {
  width: 100px;
  position: absolute;
  right: 20%;
  top: 10%;
}

.mountain {
  width: 400px;
}

.bottom-cloud {
  width: 100px;
  position: absolute;
  right: 70%;
  top: 30%;
}

.boy {
  width: 20%;
  float: left;
  margin-right: 30px;
}
.books {
  width: 20%;
  float: left;
  margin-right: 30px;
}
.desk {
  width: 35%;
    float: right;

}
.skill-row {
  width: 50%;
  margin:50px auto 50px auto;
  text-align: left;
  line-height: 2
}
.profile {
  width: 50%;
  margin:50px auto 50px auto;
  text-align: left;
  line-height: 2
}
.clearbooks {
  clear: left;
}
.cleardesk {
  clear: right;
}
