body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.6rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #66BFBF;
  font-weight: normal
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
  padding: 80px;
}

.middle-container {
  background-color: white;
  padding-top: 20px;
}

.bottom-container {
  background-color: #E4F9F5;
  color: #11999E;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  width: 100px;
  position: absolute;
  right: 320px;
  top: 35px;
}

.mountain {
  width: 400px;
}

.bottom-cloud {
  width: 100px;
  position: absolute;
  right: 950px;
  top: 200px;
}

.skilljpg {
  width: 150px;
}
